<h1>Here are all the users </h1>


<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %>
<% end %>

<% @users.each do |user| %>

  <ul>

    <li> <%= user.email %> </li>
  </ul>

<% end %>
