<h1> Create a new account </h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %>
<% end %>

<form action="<%=users_url%>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label id="Email">Email</label>
  <input id="Email" type="text" name="user[email]" value="">

  <label id="password">Password</label>
  <input id="password" type="password" name="user[password]" value="">

<input type="submit" value="Create your account">
</form>
